@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;700;900&family=Montserrat:wght@500;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat;
}

a {
  color: #54ffff;
  text-decoration: 'underline';
}

* {
  box-sizing: border-box;
}
