.container {
  min-height: 100vh;
  background: linear-gradient(68.66deg, #0f1011 0%, #010242 100%);
  color: #ffffff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.contentWrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

@media only screen and (min-width: 767px) {
  .contentContainer {
    display: flex;
  }
}

.contentSection {
  padding: 0 5%;
}

.button:active,
.button:focus {
  opacity: 0.7;
  outline: none;
}

@media only screen and (max-width: 767px) {
  .container {
    text-align: center;
  }
}
