.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  background: linear-gradient(68.66deg, #0f1011 0%, #010242 100%);
  color: #ffffff;
  overflow: hidden;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 130px;
  margin-bottom: 2rem;
}

.benefitTitle {
  font-family: Montserrat;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.375rem;
  letter-spacing: 0.1rem;
  text-align: left;
  color: #54ffff;
  text-transform: uppercase;
  margin-top: 2.625rem;
  margin-bottom: 0rem;
}
.benefitTitle:first-of-type {
  margin-top: 5.25rem;
}

.benefitText {
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.625rem;
  letter-spacing: 0rem;
  text-align: left;
  margin-top: 0.25rem;
}

.input:focus {
  outline: none;
}

.button:active {
  outline: none;
  opacity: 0.7;
}

.button:focus {
  outline: none;
}

.blogLink {
  color: #00eeff;
  text-decoration: 'underline #00eeff solid';
}

@media only screen and (max-width: 767px) {
  .benefitTitle,
  .benefitText {
    text-align: center;
  }

  .benefitText:last-of-type {
    margin-bottom: 5.25rem;
  }
}
