.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  background: linear-gradient(68.66deg, #0f1011 0%, #010242 100%);
  overflow: hidden;
}

.closedBetaSection {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 36px;

  color: #ffffff;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.input::placeholder {
  /* color: #ffffff; */
}

@media (max-width: 768px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
